.fixed-top{
    background-color: rgb(250, 194, 41);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.fixed-top .navbar-nav .nav-link{
    color: white;
    border: 1px solid;
    border-radius: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 3px;
}